---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Debug } from "astro/components";

export async function getStaticPaths() {
  const articleEntries = await getCollection("articles");
  return articleEntries.map((entry) => ({
    params: { article: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
// console.log(entry);

const { Content } = await entry.render();
---

<Debug {entry} />
<Layout title={entry.data.title} description="" permalink="">
  <h1>{entry.data.title}</h1>
  <Content />
</Layout>
