---
import Layout from "@layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const articleEntries = await getCollection("articles");
  return articleEntries.map((entry) => ({
    params: { article: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"articles">;
}

// console.log(Astro.props);

const { entry } = Astro.props;
const { title, description } = entry?.data;
const { Content } = await entry.render();
---

<Layout title={title} description={description} permalink="">
  <h1>{title}</h1>
  <Content />
</Layout>
