---
import Layout from "@layouts/Layout.astro";
const title = "About Us";
const permalink = Astro.url.href;
const description = "About us description";
---

<Layout title={title} description={description} permalink={permalink}>
  <p>About page</p>
</Layout>
