---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home";

import { getCollection } from "astro:content";
const articleEntries = await getCollection("articles");
---

<Layout title={pageTitle} description="" permalink="">
  <p>Home Page</p>
  <ul>
    {
      articleEntries.map((articlePostEntry) => (
        <li>
          <a href={`/${articlePostEntry.slug}`}>
            {articlePostEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
